@font-face {
    font-family: "Bakso Sapi";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/BaksoSapi.otf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("/public/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("/public/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/public/fonts/Poppins-SemiBold.ttf");
}

h1 {
    font-family: "Bakso Sapi";
}
